.lBody {
  background: #ccc;
  height: 812px;
  margin: 4px auto;
  max-height: calc(100vh - 8px);
  width: 375px;
}

.lWrapper {
  background: #fff;
  border-radius: 4px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lHeader {
  background: #44c45e;
  border-radius: 4px 4px 0 0;
  flex: 0 0 auto;
  padding: 15px;
}

.lContent {
  flex: 1 1 auto;
  padding: 15px;
}

.lFooter {
  border-top: 1px solid #ddd;
  flex: 0 0 auto;
}

.lFooter.login {
  border-top: none;
}

.icon {
  width: 16px;
}

.tag {
  width: 12px;
}

.tag img {
  fill: #ddd;
}

.sso {
  position: relative;
}

.sso img {
  left: 8px;
  position: absolute;
  top: 8px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #44c45e;
}

.nav-pills > li > a {
  border-radius: 0 0 4px 4px;
}

.nav-pills > li:first-child > a {
  border-radius: 0 0 0 4px;
}

.nav-pills > li:last-child > a {
  border-radius: 0 0 4px 0;
}

.centered {
  text-align: center;
}

.profile {
  position: relative;
  text-align: center;
}

.profile .edit {
  position: absolute;
  right: 0;
  top: 0;
}

.profile .avatar {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0 #00000099;
  display: inline-block;
  margin: 15px auto 0;
  height: 150px;
  overflow: hidden;
  width: 150px;
}

.profile .name {
  font-size: 24px;
}

.profile label {
  margin-bottom: 0;
}

.profile .form-group {
  margin-top: 1em;
}

.profile .details {
  background: #dddddd66;
  margin: 0 -15px;
  padding: 1px 15px;
  text-align: left;
}

.areasofinterest span,
.skills span {
  color: #337ab7;
  cursor: pointer;
}